<div class="container">
    <form>
        <label class="title-label">Nome:</label>
        <input type="text" class="input-form"/>

        <label class="title-label">E-mail:</label>
        <input type="email" class="input-form"/>
        
        <label class="title-label">Título da tarefa:</label>
        <input title="text" class="input-form"/>

        <label class="title-label">Descrição:</label>
        <textarea class="textarea-form"></textarea>

        <label class="title-label">Status:</label>
        <select class="select-form">
            <option>Pendente</option>
            <option>Concluída</option>
        </select>

        <div class="buttons">
            <button class="link-form button-form" routerLink="/" >Cancelar</button>

            <button class="button-form">Salvar</button>
        </div>
    </form>
</div>
