<div class="container">

    <h2 class="title-form">NOVA TAREFA</h2>
    
    <mat-card class="form-container">
        <mat-form-field class="input-form">
            <mat-label>Nome</mat-label>
            <input type="text" matInput [formControl]="nameFormControl"
                [(ngModel)]="taskDetails.name">
            <mat-error *ngIf="nameFormControl.hasError('text') && !nameFormControl.hasError('required')">
                Por favor insira seu nome
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Nome é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
                [(ngModel)]="taskDetails.email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor insira um endereço de e-mail válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Título da tarefa</mat-label>
            <input type="text" matInput [formControl]="titleFormControl"
                [(ngModel)]="taskDetails.title">
            <mat-error *ngIf="titleFormControl.hasError('text') && !titleFormControl.hasError('required')">
                Por favor insira o título da sua tarefa
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Título é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Descrição</mat-label>
            <textarea type="text" matInput 
                [(ngModel)]="taskDetails.description"></textarea>
        </mat-form-field>

        <mat-form-field class="select-form">
            <mat-label>Status</mat-label>
            <mat-select matNativeControl [(ngModel)]="taskDetails.status">
                <mat-option value="pendente">Pendente</mat-option>
                <mat-option value="concluida">Concluída</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card>

    <div class="buttons">
        <button mat-raised-button class="button-form" routerLink="/">Cancelar</button>

        <button mat-raised-button class="button-form" (click)="addTask()" [disabled]="!this.nameFormControl.valid || !this.titleFormControl.valid || !this.emailFormControl.valid">Criar</button>
    </div>
    <br>

</div>
