.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-form {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #6142bd;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

.title-label {
    margin-top: 10px;
}

.select-form {
    width: 40%;
    margin-top: 10px;
}

.input-form {
    margin-top: 10px;
}

.button-form {
    background-color: #8675b8;
    color: white;
    font-size: 18px;
    margin-right: 10px;
}
    
.button-form:hover {
    background-color: #6142bd;
}




