<div class="container">

    <h2 class="title-form">EDITAR TAREFA</h2>

    <mat-card class="form-container">
        <mat-form-field class="input-form">
            <mat-label>Nome</mat-label>
            <input type="text" matInput [(ngModel)]="taskUpdate.name" />
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="taskUpdate.email" />
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Título</mat-label>
            <input type="text" matInput [(ngModel)]="taskUpdate.title" />
        </mat-form-field>

        <mat-form-field class="input-form">
            <mat-label>Descrição</mat-label>
            <textarea class="textarea-form" matInput [(ngModel)]="taskUpdate.description"></textarea>
        </mat-form-field>

        <mat-form-field class="select-form">
            <mat-label>Status</mat-label>
            <mat-select matNativeControl [(ngModel)]="taskUpdate.status">
                <mat-option value="pendente">Pendente</mat-option>
                <mat-option value="concluida">Concluída</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card>

    <div class="buttons">
        <button class="button-form" mat-raised-button routerLink="/">Cancelar</button>

        <button class="button-form" mat-raised-button (click)="updateTask()">Salvar</button>
    </div>

</div>