.reset-p {
 margin: 0;
}

.footer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.colors {
  background-color: var(--default-primary);
  color: var(--default-quarternary);
}

.font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}