header {
    width: 100%;
    height: 80px;
    background-color: var(--default-primary);
    display: flex;
}

.page-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: var(--default-quarternary);
    font-size: 30px;
    font-family: arial,sans-serif;
}