.display-section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.button-home {
  background-color: #8675b8;
  color: white;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 3px 3px 8px darkgray;
  cursor: pointer;
  font-size: 18px;
}

.button-home:hover {
  background-color: #6142bd;
}

.a-link-home {
  text-decoration: none;
  color: white;
}