.display-section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.display-table-home {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  display: grid;
  height: 200px;
  overflow: auto;
}

table {
  box-shadow: var(--default-shadow-table);
}

th {
  font-size: 18px;
  background-color: var(--default-primary);
  color: var(--default-quarternary);
}

h2 {
  color: var(--default-senary);
  margin: 0 0 8px;
}

.button-home {
  background-color: var(--default-primary);
  color: var(--default-quarternary);
  font-size: 18px;
}

.button-home:hover {
  background-color: var(--default-secundary);
}

.icons {
  cursor: pointer;
  color: var(--default-secundary);
}

.display-filter-button {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-nodata {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: var(--default-shadow-scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--default-tertiary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--default-septenary); 
}

::ng-deep .mat-form-field-label {
  color: var(--default-octonary) !important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--default-octonary) !important;
} 

::ng-deep .mat-form-field-ripple {
 background-color: var(--default-octonary) !important;
}

::ng-deep .mat-input-element {
  color: var(--default-octonary) !important;
}
