.display-section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.button-home {
  background-color: #8675b8;
  color: white;
  font-size: 18px;
}

.button-home:hover {
  background-color: #6142bd;
}

.icons {
  cursor: pointer;
  color: #6142bd;
}
