<section class="display-section-home">
  <div>
    <h1>Cadastre sua primeira tarefa!!</h1>
  </div>

  <div>
    <table>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Responsável</th>
        <th>Status</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tr>
        <td>Teste Tarefa</td>
        <td>Blá blá blá</td>
        <td>Jéssica e Thalita</td>
        <td>Em amdamento</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
    </table>
  </div>

 
  <button type="button" class="button-home" routerLink="/form">Cadastrar</button>
  
</section>