<section class="display-section-home">
  <div *ngIf="tasks.length == 0">
    <h1>Cadastre sua primeira tarefa!!</h1>
  </div>

  <div *ngIf="tasks.length !== 0">
    <table>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Responsável</th>
        <th>Status</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tr *ngFor="let task of tasks">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.name}}</td>
        <td>{{task.status}}</td>
        <td>Edit</td> 
        <td>Del</td>
      </tr>
    </table>
  </div>

 
  <button type="button" class="button-home" routerLink="/form">Cadastrar</button>
  
</section>