.display-section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.display-table-home {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  display: grid;
  height: 200px;
  overflow: auto;
}

table {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

th {
  font-size: 18px;
  background-color: #8675b8;
  color: white;
}

h2 {
  color: #6142bd;
  margin: 0 0 8px;
}

.button-home {
  background-color: #8675b8;
  color: white;
  font-size: 18px;
}

.button-home:hover {
  background-color: #6142bd;
}

.icons {
  cursor: pointer;
  color: #6142bd;
}

.display-filter-button {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
}

::-webkit-scrollbar-thumb {
  background: #beb0e7;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6142bd; 
}
